[package]
name = "gocardless-bankaccountdata"
version = "2.0.0"
authors = ["Nixy <info@nixy.software>"]
description = "Rust OpenAPI client for GoCardless Bank Account Data."
license = "MIT"
edition = "2021"
repository.workspace = true

[dependencies]
serde = { version = "^1.0", features = ["derive"] }
serde_with = { version = "^3.8", default-features = false, features = ["base64", "std", "macros"] }
serde_json = "^1.0"
serde_repr = "^0.1"
url = "^2.5"
uuid = { version = "^1.8", features = ["serde", "v4"] }
reqwest = { version = "^0.12", features = ["json", "multipart"] }
